<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.10" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net452" />
  <package id="PostSharp" version="5.0.42" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Redist" version="5.0.42" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net452" />
</packages>